# IntelliJ IDE
out/
out/*
.idea/
.idea/*
*.iml
*.idea
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

# mac
.DS_Store